<footer class="footer">

  <div class="footer-container">

    <!-- LEFT: Organization Info -->
    <div class="footer-box">
      <h2 class="marathi-banner-text">
  मौजे मोरवणे मुंबई संघ
</h2>
      <p>
        शैक्षणिक, सांस्कृतिक व सामाजिक विकासासाठी कार्यरत
        संस्था <br>(स्थापना : १९४७)
      </p>

      <p class="footer-address">
        📍 मोरवणे, ता. चिपळूण,<br />
        जि. रत्नागिरी, महाराष्ट्र – 413102
      </p>
    </div>

    <!-- CENTER: Contact -->
    <div class="footer-box">
      <h3></h3>

      <p>
        
      </p>

    
    </div>

    <!-- RIGHT: Map -->
    <div class="footer-box">
      <h3></h3>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30434.463045795583!2d73.57856535241099!3d17.540522385846486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc20586dd5fe54b%3A0xad457d706345768d!2sMoravane%20Bk.%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1767006844705!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
       ></iframe>
    </div>

  </div>

  <!-- Bottom bar -->
  <div class="footer-bottom">
    © 2026 WE Digitals | All Rights Reserved
  </div>

</footer>
