html, body {
  margin: 0;
 font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f0cb86; 
  color: #0f172a;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #1976d2;
}

.section-light {
  background-color: #ebd599;
}

.section-soft {
  background-color: #ebd599;
}


mat-card {
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}
